:root {
    --primary-color: red;
    --secondary-color: black;
    --light-color: #fff;
    --highlight: #e6e6e6;
    --font-style: 'Dosis', sans-serif;
    --header-font: 'Bowlby One SC', cursive;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Utility Classes*/

/*Buttons*/

body {
    width: 100%;
    height: 100%;
    background: white;
    font-family: var(--font-style);
    font-size: 24px;
}



.box-1 a{
    text-decoration: none;
    color:inherit;
    text-align: left;
}

.block-font {
    font-family: var(--header-font);
    letter-spacing: 2px;
}

.container {
    width: 90%;
    overflow: hidden;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

/*Utility Classes End*/

header {
    background-color: var(--secondary-color);
    width: 100%;
    border-bottom: solid 1px var(--highlight);
    min-height: 70px;
}


.intro-cut {
    clip-path: polygon(0 0, 0 75%, 20% 96.5%, 100% 80%, 100% 0);
}

.navbar .logo img{
    min-width: 205px;
    width: 125px;
    float: left;
    padding: 10px 0;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 150px;
}

nav ul {
    color: var(--light-color);
    float: right;
}

.navbar-menu button{
    background: none;
    text-align: center;
    justify-content: center;
    font-size: 28px;
}

.navbar-menu .btn-one{
    background-color: var(--primary-color);
    font-weight: bolder;
}

.navbar-menu .btn-one::after{
    font-weight: bolder;
}

.navbar-menu .btn-one:hover{
    font-weight: bolder;
    background-color: transparent;
}

nav ul li {
    display: inline;
    padding-right: 20px;
}

.navbar a {
    color: var(--light-color);
    text-decoration: none;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}

.navbar a:hover {
    cursor: pointer;
    border-bottom: solid var(--primary-color) 3px;
}

.navbar .box-1 a:hover {
    cursor: pointer;
    border-bottom: none;
    color: red;
}

.navbar .highlight {
    border-bottom: solid var(--primary-color) 3px;
    color: var(--highlight);
}

/*Class gets added on js when reaching scroll position, makes navbar sticky*/
.sticky-navbar {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 1000 !important;
    padding: 0 5%;
    background-color: rgba(0,0,0,0.9);
    box-shadow: 5px 5px 10px black;
    border-bottom: 3px solid var(--primary-color);
    /*
    transition-timing-function: ease;
    transform: translate3d(0,100px,0);
    transition: 0.7s;
    */
}

.drag-down {
    transition-timing-function: ease;
    transform: translate3d(0,100px,0);
    transition: 0.7s;
}

.showcase {
    color: var(--light-color);
    text-align: center;
    height:89vh;
    position: relative;
    /*background: url('../img/showcase-bg.jpg') no-repeat center center/cover;*/
}

.showcase video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.showcase-content{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-top: 250px;
    z-index: 2;
}

.showcase-content h1{
    position: relative;
    margin-top: 20px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-size: 70px;
}

.showcase-content p{
    position: relative;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-size: 30px;
    margin-bottom: 50px;
}

.showcase::after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 100px 100px 250px #000, inset -100px -100px 250px #000;
    z-index: 1;
}

.card-section {
    background-color: white;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    grid-gap: 5rem;
    min-height: 400px;
    line-height: 1.5;
}

.card-section .card {
    padding: 3rem 1rem;
}

.card-section .card h3 {
    margin-bottom: 2rem;
}

.intro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    padding: 8rem 1rem;
    color: var(--secondary-color);
    background-color: white;
}

.intro {
    text-align: left;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

.intro h1{
    margin-bottom: 3rem;
    font-size: 72px;
    color: var(--light-color);
    -webkit-text-stroke-color: var(--primary-color);
    -webkit-text-stroke-width: 2px;
}

.intro  h3{
    display: inline-block;
    padding: 4rem 4rem 4rem 0;
    font-size: 55px;
    text-align: center;
}

.intro p{
    font-size: 32px;
}

.intro-font {
    font-size: 32px;
}

.intro .box-1{
    justify-content: flex-start;
}

.intro .box-1 .btn{
    background-color: var(--light-color);
}

.white-text{
    color: white;
}

.intro .box-1 .btn:hover{
    background-color: transparent;
}

.about-us-btn {
    font-size: 35px;
    font-weight: bolder;
}

.vid {
    text-align: center;
    align-items: end;
    justify-content: center;
}

.vid video {
    position: relative;
    border-radius: 15px;
    box-shadow: -20px -20px 0 #E0E0E0;
    width: 500px;
}

.location-section {
    background-color: var(--light-color);
    position: relative;
    min-height: 500px;
    padding: 100px 0;
}

.location-grid {
    /*background: linear-gradient(270deg, white, rgba(255, 255, 255, 0.9), black),
                linear-gradient(135deg, black, black, black, white);*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-column-gap: 50px;
    border-radius: 15px;
    padding-left: 2.5%;
    padding-right: 10%;
}

.gallery {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
}

.locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}

.location-card {
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all .5s ease-in-out;
}

.location-card:hover{
    transform: scale(1.02);
}

.ld{
    color: var(--light-color);
    z-index: 2;
    padding: 25px;
    transition: all .5s ease-in-out;
    filter: brightness(1.8);
}

.ld:hover{
    transform: scale(1.05);
}

.ld h3{
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    font-size: 50px;
}

.image-card {
    height: 550px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    z-index: 1;
    box-shadow: 15px 15px 20px black;
}

.image-card::after {
    content: '';
    position: absolute;
    filter: brightness(50%);
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 250px 200px 250px #000, inset -150 -200px 250px #000;
    z-index: 1;
    border-radius: 10px;
}

.red-filter::after{
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 10px;
}

.card1 {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8)),
                url('../img/whitsett-soccer-fields.jpg') no-repeat center center;
    background-size: cover;
    transition: 0.5s ease-in-out;
}

.card2 {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1.5)),
                url('../img/sherman-oaks-memorial-park.jpg') no-repeat center center;
    background-size: cover;
}

.card3 {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,1.5)),
                url('../img/santa-clarita-central-park.jpg') no-repeat center center;
    background-size: cover;
}

.card4 {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,2.8)),
                url('../img/sepulveda-basin-sports-complex.jpg') no-repeat center center;
    background-size: cover;
}

.gallery-des {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 20%;
}

.gallery-des h3{
    font-size: 65px;
    margin-top: 100px;
    line-height: 1.2;
}

.gallery-des p{
    font-size: 30px;
}

.insta-feed {
    background-color: var(--light-color);
    text-align: center;
    min-height: 500px;
}


.footer{
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-align: center;
    padding: 20px;
    font-family: var(--font-style);
    font-size: 20px;
}

/*
div[class*=box] {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-lg {
    line-height: 68px;
    height: 75px;
    text-align: center;
    width: 375px;
    cursor: pointer;
}

.btn-light {
  color: var(--light-color);
  transition: all 0.3s;
  position: relative;
}
.btn-dark {
  color: var(--secondary-color);
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
  z-index: 2;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top: solid 1px rgba(255,255,255,0.5);
  border-bottom: solid 1px rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
  pointer-events: none;
}


.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: var(--light-color);
  opacity: 0.1;
  border-radius: 5px;
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.btn-dark::before {
    border-top: solid 1px rgba(0,0,0,0.5);
    border-bottom: solid 1px rgba(0,0,0,0.5);
}

.btn-dark:hover {
  color: var(--primary-color);
  transition: ease-in-out 0.1s;
}

.btn-dark::after {
    background-color: rgba(255,0,0,2.0);
}

/*Modern Carousel with Flickity (Elements) by Radu @ https://codepen.io/maxym11/pen/GRoryXm*/

.insta-feed {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0px 0 200px 0;
}

.insta-title {
    margin-bottom: 100px;
    font-size: 30px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.carousel .card {
  margin: 0 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 35, 0.75);
  border-radius: 8px;
  height: 300px;
  width: 300px;
  display: block;
  position: relative;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
  box-shadow: 12px 12px 20px black;
  filter: brightness(50%);
  /*filter: blur(1px);
  -webkit-filter: blur(1px);*/
  transition: width 0.06s ease-in-out, height 0.06s ease-in-out, scale 2.0 ease-in-out;
}

.carousel .card:hover {
    filter: none;
    -webkit-filter: none;
    transform: scale(1.05);
}


.card.is-custom-selected {
  width: 375px;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: none;
  -webkit-filter: none;
}

.card.is-custom-selected:hover::after {
    content: '';
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    visibility: visible;
}

.card.is-custom-selected:hover .card-des {
    color: white;
    display: block;
    position: absolute;
    text-align: center;
    justify-content: center;
    visibility: visible;
    z-index: 100;
    font-size: 35px;
}


.card-des{
    visibility: hidden;
    display: none;
}

.card-des h3 {
    font-family: var(--font-style);
    letter-spacing: 3px;
}

.card-bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  position: relative;
  height: 100%;
}

.flickity-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.contact-end {
    text-align: center;
    background-color: var(--light-color);/*#808080;*/
    color: black;
    padding: 0 0 100px 0;
}

.contact-end h3 {
    font-size: 45px;
    padding-bottom: 55px;
}

.contact-end .box-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
	display: inline-block;
	appearance: none;
	background: #2875ed;
	margin: .5em;
	padding: .5em 1em;
	border: none;
	color: white;
	font: inherit;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}

.card > * {
    pointer-events: none;
}


/*Look up Security concerns with iframes. Sandbox, etc.*/
.insta-iframe {
    box-shadow: 12px 12px 20px black;
    border-radius: 15px;
    border: white solid 5px;
    z-index: 1;
}

/*portrait*/
.insta-iframe-p {
    width: 600px;
    height: 950px;}

/*landscape*/
.insta-iframe-l {
    width: 1000px;
    height: 900px;
}


/*Contact Us Page*/


.contact-showcase {
    color: var(--light-color);
    text-align: center;
    height:83.5vh;
    position: relative;
    /*background: url('../img/showcase-bg.jpg') no-repeat center center/cover;*/
}

.cut-bottom{
    clip-path: polygon(0 0, 0 90%, 50% 100%, 100% 90%, 100% 0);
}


.contact-showcase img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-showcase::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 100px 100px 200px #000, inset -100px -100px 200px #000;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
}

.contact-form{
    padding-bottom: 50px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}


.contact-container h3{
    padding-bottom: 100px;
    font-size: 65px;
}


.contact-form .box-1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.half-width{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 0 0 50px 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.half-width input{
    width: 100%;
    padding: 10px 0px 15px 0;
    font-size: 25px;
    font-style: var(--font-style);
    border: none;
    border-bottom: solid 2px black;
    outline: none;
}

.contact-container form{
    margin: 0;
    padding: 0 0 50px 0;
    width: 75%;
}

.full-width{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}


.full-width input{
    width: 100%;
    padding: 10px 50px 15px 0;
    font-size: 25px;
    font-style: var(--font-style);
    border: none;
    border-bottom: solid 2px black;
    outline: none;
}

.full-width textarea{
    width: 100%;
    padding: 10px 50px 125px 0;
    font-size: 25px;
    font-style: var(--font-style);
    border: none;
    border-bottom: solid 2px black;
    outline: none;
}


.contact-container .block-font {
    text-align: center;
    justify-content: center;
    align-items: center;
}

form .box-1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box-1 input {
    border: none;
    background: none;
}

.box-1 button {
    border: none;
    color:black;
    background: none;
    text-align: center;
    padding: 0;
}


/*About Page*/

.about-showcase img{
    clip-path: polygon(41.6% 0, 60% 25%, 55% 100%, 0% 100%, 0 0);
}

.about-showcase{
    background-image: linear-gradient(black, red, white);
    height: 85vh;
}


.about-showcase::after {
    box-shadow: inset 50px 100px 200px #000, inset -50px -100px 250px #000;
}



.about-showcase .box-1{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-showcase .showcase-content{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 5% 2% 0 0;
}

.about-showcase .showcase-content p{
    font-size: 36px;
    color: var(--light-color);
    -webkit-text-stroke-color: none;
    -webkit-text-stroke-width: 0;
}

.about-laz{
    background: white;
    text-align: center;
    margin: 0;
    padding-top: 5%;
}

.about-laz .intro-des{
    padding: 0 1% 5% 5%;
}


.about-laz p{
    font-size: 24px;
    font-weight: bold;
}

/*
.bg{
    shape-outside: polygon(85% 0, 41.6% 100%, 0 100%, 0 0);
    clip-path: polygon(87.2% 0, 33% 100%,0% 100%, 0 0);
    width: 1200px;
    height: 1200px;
    float: left;
    background-color: black;
}
*/

.about-laz h1 span{
    color: red;
    -webkit-text-stroke-width: 1px;
}



.about-laz h1{
    text-align: center;
    font-size: 95px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.about-laz .intro-des{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 4rem;
    padding-bottom: 5%;
}
.intro-des .intro-img{
    align-self: start;
}


.intro-des img{
    width: 800px;
    height: 600px;
    align-self: start;
    border-radius: 15px;
    box-shadow: -20px -20px 0 #E0E0E0;
    /*clip-path: polygon(-10% 0, 80% 0, 100% 20%, 80% 85%, 0 100%);*/
}

.intro-des2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    align-items: center;
    grid-gap: 4rem;
    padding: 7% 5% 8% 2%;
    background-color: #F9F9F9;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 25% 5%, 0 2%);
}

.intro-des2 p{
    font-size: 30px;
    text-shadow: 2px 2px 2px #ffb3b3;
}

.intro-des2 .quote{
    align-self: start;
    padding-top: 50px;
}

.intro-des2 .box-1{
    text-align: start;
    padding-top: 50px;
}

.intro-des2 img{
    width: 1000px;
    height: 600px;
    align-self: start;
    border-radius: 15px;
    box-shadow: 20px 20px 15px #909090;
}

.intro-img2{
    align-self: start;
    border-radius: 15px;
    /*clip-path: polygon(-10% 0, 80% 0, 100% 20%, 80% 85%, 0 100%);*/
}

.about-latekkerz{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 4rem;
    padding: 7% 10% 0 10%;
}

.about-latekkerz img{
    width: 500px;
    height: 400px;
    align-self: start;
    border-radius: 15px;
    box-shadow: -20px -20px 0 #E0E0E0;
}

.about-latekkerz2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    grid-gap: 4rem;
    padding: 0 10% 0 10%;
}

.about-latekkerz2 img{
    width: 420px;
    height: 780px;
    align-self: start;
    border-radius: 15px;
    box-shadow: -20px -20px 0 #E0E0E0;
}

.intro-des2 .quote .btn-one{
    background-color: rgba(255,0,0,0.2)
}

.about-latekkerz3{
    padding-top: 0;
    padding-bottom: 100px;
}

.about-latekkerz-end {
    background-color: #F9F9F9;
    padding: 125px 50px 125px 0;
}
.about-latekkerz-end .last-words{
    align-self: start;
    padding-top: 55px;
}

.last-words .box-1 {
    padding-top: 50px;
}

.last-words p{
    font-size: 28px;
}

.about-latekkerz-end img{
    width: 100%;
    height: 100%;
    align-self: start;
    border-radius: 15px;
    box-shadow: -20px -20px 0 #E0E0E0;
}

/*Services Page*/

.services-showcase{
    color: var(--light-color);
    text-align: center;
    height:83.5vh;
    position: relative;
    /*background: url('../img/showcase-bg.jpg') no-repeat center center/cover;*/
}

.services-showcase img {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.services-showcase::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 100px 100px 200px #000, inset -100px -100px 200px #000;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
}

.services-showcase img{
    /*clip-path: polygon(41.6% 0, 60% 25%, 55% 100%, 0% 100%, 0 0);*/
}

.services-showcase{
    /*background-image: linear-gradient(black, red, white);*/
    height: 65vh;
}


.services-showcase::after {
    box-shadow: inset 10px 50px 150px #000, inset -1000px -100px 250px #000;
}



.about-showcase .box-1{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.services-showcase .showcase-content{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    width: 95%;
    padding: 5% 5% 0 0;
}

.services-showcase .showcase-content p{
    font-size: 36px;
    color: var(--light-color);
    -webkit-text-stroke-color: none;
    -webkit-text-stroke-width: 0;
}

.services-showcase .showcase-content h1{
    font-size: 56px;
    color: var(--light-color);
    text-shadow: 2px 2px 2px #ffb3b3;
}

.privates {
    padding: 5% 8% 5% 2%;
}

.one-on-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "priv-des priv-image1"
        "priv-des priv-image2"
        "priv-des-button priv-end-caption";
        column-gap: 10rem;
}

.one-on-one-title {
    grid-area: priv-title;
}

.one-on-one-image{
    grid-area: priv-image1;
    padding-bottom: 5rem;
}

.one-on-one-image img{
    max-width: 100%;
    box-shadow: -10px -10px 10px;
    border-radius: 5px;
}

.one-on-one-image2{
    grid-area: priv-image2;
    align-self: start;
    padding-bottom: 1.5rem;
}

.one-on-one-image2 img{
    max-width: 100%;
    box-shadow: -10px -10px 10px;
    border-radius: 5px;
}

.priv-description{
    grid-area: priv-des;
    font-size: 25px;
    font-weight: 500;
}

.priv-description p{
    line-height: 1.5
}

.priv-caption-img {
    grid-area: priv-end-caption;
}

.one-on-one-title:first-child h1{
    padding-bottom: 30px;
}

.title-highlight{
    padding: 2px 15px;
    background: #ff6666;
    color: white;
}

.position-specific {
    padding-top: 100px;
}

.s-and-a-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: start;
    justify-content: center;
    padding: 5%;
    column-gap: 5rem;
}

.s-and-a-image{
    grid-area: priv-image2;
    align-self: start;
    padding-bottom: 1.5rem;
}

.s-and-a-image img{
    max-width: 100%;
    box-shadow: 10px 10px 10px;
    border-radius: 5px;
}
